<div class="card" role="tab">
    <h4 class="card-header" role="tab">
        <a data-toggle="collapse" href="#{{miner?.name}}" aria-expanded="true" [attr.aria-control]="miner?.name">
            {{miner?.name}}</a>
    </h4>

    <div id="{{miner?.name}}" class="collapse" role="tabpanel" [attr.data-parent]="'#'+miner?.name">
        <div class="card-body">
            <h5>@<a href="{{miner?.url}}">{{miner?.url}}</a></h5>
            <div *ngIf="apiResult?.result == 'error'">
                <p>There was an error fetching data for this miner</p>
                <p>The error was:</p>
                <div [innerHtml]="apiResult?.data"></div>

            </div>
            <div *ngIf="apiResult?.result == 'success'">
                <miner-card-hashrate [dataObservable]="dataObservable"></miner-card-hashrate>
                <miner-card-results [dataObservable]="dataObservable"></miner-card-results>
            </div>
            <div *ngIf="apiResult == null">
                Loading...
            </div>
        </div>
    </div>
</div>